<p>footer works!</p>
<nav>
  <a routerLink="/onboarding/search">Search</a><br>
  <a routerLink="/test">Test</a>
</nav>

<button (click)="redirect('Himanshu')">Redirect</button>

<app-popup></app-popup>

<h2>Current Random Number from Observable in Footer : {{currentObservableNumber}}</h2>

<h2>Current Random Number from Subject in Footer : {{currentRandomNumberSubject}}</h2>
<h2>Current Random Number 2 from Subject in Footer : {{currentRandomNumberSubject2}}</h2>
<h2>Current Random Number 3 from Subject in Footer : {{currentRandomNumberSubject3}}</h2>

<button (click)="getNextNumber()">Trigger Number</button>