<button (click)="addNewEmployee()"> add Employee</button>
<br><br>


<div *ngFor="let employee of employees; let i = index">
  <div *ngIf="employee.isVisible">
    <!-- <label for="name{{i}}">Name:</label>
    <p>{{employee.name}}</p>

    <label for="age{{i}}">Age:</label>
    <p>{{employee.age}}</p>

    <button (click)="toggleVisibility(i)">Change Visibility</button> -->
    <app-popup [employeeDetails]="employee" (visibilityEvent)="changeVisibility($event)"></app-popup>
  </div>
</div>




<button (click)="triggerCall()">Call API</button>

<br/>
<br/>
<h2>Current Random Number from Observable in Search : {{currentObservableNumber}}</h2>

<h2>Current Random Number 2 from Observable in Search : {{currentObservableNumber2}}</h2>

<h2>Current Random Number from Subject in Search : {{currentRandomNumberSubject}}</h2>





